html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: url(https://p4ratchet.files.wordpress.com/2016/10/ace-attorney-courtroom1.jpg?crop=1&h=577&w=1024);
    background-size: cover;
    background-attachment: fixed;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: fixed;
    flex-direction: row;
    width: 100%;
    background-color: #161a26;
    height: 50px;
    font-size: 16px;
    color: whitesmoke;
}

.home_container {}

main {
    padding-top: 50px;
}

.news {
    grid-area: news;
    display: flex;
    background-color: blue;
}

img {
    max-width: 100%;
    height: auto;
}

.event1 {
    grid-area: event1;
    padding: 2%;
    background-color: pink;
}

.event2 {
    grid-area: event2;
    padding: 2%;
    background-color: green;
}

.home_container {
    margin: 2%;
    display: grid;
    max-width: 100%;
    grid-template-columns: 2fr .4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "news . event1" "news . ." "news . event2";
}